.container2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    background-color: rgba(79, 236, 79, 0.4);
    margin-top: 35px;
    border: 2px inset whitesmoke;
    box-shadow: 4px 4px 3px 3px rgba(90,90,90,0.5);
}

.detail{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: rgba(140, 160, 140, 0.6);
    max-width: 40%;
    width: 30%;
    height: 70%;
    border: 1px solid rgb(170,210,170);
}

.img{
    display: flex;
    min-width: 150px;
    min-height: 150px;
    width: 300px;
    height: 300px;
    margin: 70px 40px 70px;
    border: 2px solid black;
    border-radius: 5px;
}

.ul{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    text-align: center;
    font-size: 25px;
    font-family:monospace;
    list-style: none;
    padding: 15px;
}

.li{
    margin: 20px;
}

@media screen and (max-width:600px) {
    .container{
        display: grid;
        grid-template-columns: 0.9fr;
        gap: 50px;
        margin: 20%;
        width: 80%;
        align-items: center;
        margin-right: 70px;
        margin-left: 50px;
    }
    
}